.Upload {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
    background-color: white;
    padding: 30px 30px 30px 30px;
  }
  
  .Content {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    box-sizing: border-box;
    width: 100%;
  }
  
  .Files {
    margin-left: 32px;
    align-items: flex-start;
    justify-items: flex-start;
    flex: 1;
    overflow-y: auto;
    max-height: 200px;
    overflow: 'auto';
  }

  .Filename {
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
  }
  
  .Row {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    padding: 8px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .CheckIcon {
    opacity: 0.5;
    margin-left: 32px;
  }

  .CheckIcon {
    opacity: 0.5;
    margin-left: 32px;
  }
  
  .ProgressWrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
  }
  
  .Actions {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
  }
  
  .Title {
    margin-bottom: 10px;
    color: #555;
  }